schemas/splosions.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="splosions" type="splosionsType" />
  <xsd:complexType name="splosionsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Sprite" type="SpriteType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpriteType">
    <xsd:sequence>
      <xsd:element name="x" type="xsd:decimal" />
      <xsd:element name="y" type="xsd:decimal" />
      <xsd:element name="xSpeed" type="xsd:decimal" />
      <xsd:element name="ySpeed" type="xsd:decimal" />
      <xsd:element name="xInitialSpeed" type="xsd:decimal" />
      <xsd:element name="yInitialSpeed" type="xsd:decimal" />
      <xsd:element name="frameString" type="xsd:string" />
      <xsd:element name="isTracked" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
